<a class="book-preview-link search-preview" href="{{url}}">
    <article class="book-preview">
        <header class="book-preview-header">
            <h1 class="book-preview-title desktop-only">Book Recommendation</h1>
            <i class="fas fa-book book-icon"></i>
        </header>
        <span class="book book-search-result" id="{{tags from="2" to="2" limit="all" visibility="internal" autolink="false"}}">
            <i class="load-icon fas fa-spinner"></i>
        </span>
        <footer class="book-preview-footer">
            <span href="{{url}}" class="read-article">
                <span>More</span>
                <i class="fas fa-book-open"></i>
            </span>
        </footer>
    </article>
</a>