<a href="{{url}}" class="quote-preview-link">
    <article class="quote-preview search-preview">

    <header class="quote-full-header">
        <h1 class="quote-full-title">Quote</h1>
        <i class="fas fa-comment-alt quote-icon"></i>        
    </header>

    <blockquote class="quote-search-preview">
        <span class="quote-content">
            <i class="fas fa-quote-left quote-left"></i>
            {{excerpt}}
            <i class="fas fa-quote-right quote-right"></i>
        </span>
        <h6 class="quote-author">{{tags from="2" to="2" autolink="false"}}</h6>
    </blockquote>

  </article>
</a>