<a href={{url}} class="quote-card">
    <article class="quote-preview {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
        <blockquote class="quote-card-preview">
            <span class="quote-content-home">
                <i class="fas fa-quote-left quote-left"></i>
                {{excerpt}}
                <i class="fas fa-quote-right quote-right"></i>
            </span>
            <h6 class="quote-author">{{tags from="2" to="2" autolink="false"}}</h6>
        </blockquote>
        </footer>
    </article>
</a>