<section class="subscribe-form">
    <form id="subscribe" data-members-form="subscribe">
        <header>
            <h3 class="subscribe-form-title">Donate your inbox to me</h3>
            <h3 class="subscribe-form-title-success">Welcome to my emails</h3>
        </header>
        <div class="gh-signin">
            <input class="gh-input" data-members-email type="email" placeholder="Your email address" required="true" />
            <button class="gh-btn" type="submit">
                <span class="subscribe-btn-text">Subscribe</span>
                <i class="load-icon subscribe-btn-load-spinner fas fa-spinner"></i>
                <i class="subscribe-btn-check fas fa-check-circle"></i>
            </button>
        </div>
        <p class="subscribe-form-description-success">Please check your email in the next ten minutes.</p>
    </form>
</section>