<div class="subscription-options">
    <a href="/#/portal/signup/monthly" class="button-special subscription-monthly">
        <span>
            <h3>Monthly</h3>
            <span>US$10/Month</span>
        </span>
        <i class="fas fa-moon-stars"></i>
    </a>

    <a href="/#/portal/signup/yearly" class="button-special subscription-yearly">
        <span>
            <h3>Yearly</h3>
            <span>US$100/Year</span>
        </span>
        <i class="fas fa-globe-asia"></i>
    </a>

    <a href="https://buy.stripe.com/5kAeWedE0d3w1EI9AA" class="button-special subscription-lifetime">
        <span>
            <h3>Lifetime</h3>
            <span>US$200</span>
        </span>
        <i class="fas fa-heartbeat"></i>
    </a>
    </div>