<div class="buttons-box-inline">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="S78PYA8MLNZEN">
        <button class="button-special paypal-support" type="submit">
            <h3>Donate with Paypal</h3>
            <i class=" fab fa-paypal"></i>
        </button>
    </form>
    <a href="https://www.patreon.com/sashinexists" class="button-special patreon-support">
        <span>
            <h3>Become a Patron</h3>
        </span>
        <i class="fab fa-patreon"></i>
    </a>
    <a href="https://ko-fi.com/sashinexists" class="button-special kofi-support">
        <span>
            <h3>Tip me with Ko-fi</h3>
        </span>
        <i class="fas fa-mug-hot"></i>
    </a>
    <a class="button-special send-cardano">
        <span>
            <h3>Send me Cardano</h3>
        </span>
        <i class="fas fa-braille"></i>
    </a>
    <a class="button-special send-solana">
        <span>
            <h3>Send me Solana</h3>
        </span>
        <i class="fas fa-money-check-edit-alt"></i>
    </a>
    <a class="button-special send-ethereum">
        <span>
            <h3>Send me Ethereum</h3>
        </span>
        <i class="fab fa-ethereum"></i>
    </a>
    <a class="button-special buy-merchandise">
        <span>
            <h3>Buy Merchandise</h3>
        </span>
        <i class="fas fa-tshirt"></i>
    </a>
</div>

<div class="popup hide">

    <div class="crypto-address-box ada-address-box hide">
        <h3>My Cardano (ADA) address</h3>
        <input type="text"
            value="addr1q9pgr9r0fea5xytrvx3ae8wk5p740a6anh8fwgnml08vhv2zsx2x7nnmgvgkxcdrmjwadgra2lm4m8wwju38h77wewcsmy7d20"
            id="ada-address" class="crypt-address copy-from">
        <button class="button-special copy-text copy-ada-address">
            <span>
                <h3 class="copy-ada-address-label">Copy address</h3>
            </span>
            <i class="fas fa-copy copy-ada-icon"></i>
        </button>
    </div>

    <div class="crypto-address-box sol-address-box hide">
        <h3>My Solana (SOL) address</h3>
        <input type="text" value="8ePMbMUCdhA9vSWUwxBjrhCJUuKuPUnvJGuinKxiCmoW" id="sol-address"
            class="crypt-address copy-from">
        <button class=" button special copy-text copy-sol-address">
            <span>
                <h3 class="copy-sol-address-label">Copy address</h3>
            </span>
            <i class="fas fa-copy copy-sol-icon"></i>
        </button>
    </div>

    <div class="crypto-address-box eth-address-box hide">
        <h3>My Ethereum (ETH) address</h3>
        <input type="text" value="0x3F58FD272e1D08109f651a0A2A18924849DbC549" id="eth-address"
            class="crypt-address copy-from">
        <button class=" button special copy-text copy-eth-address">
            <span>
                <h3 class="copy-eth-address-label">Copy address</h3>
            </span>
            <i class="fas fa-copy copy-eth-icon"></i>
        </button>
    </div>

    <div class="buy-merch-popup hide">
        <h3>Now Leaving Website</h3>
        <p>This will open up my Merchandise Store in a new tab.</p>
        <a href="https://shop.spreadshirt.com/sashinexists" target="_blank"
            class=" button special copy-text copy-eth-address">
            <span>
                <h3 class="copy-eth-address-label">Go to Store</h3>
            </span>
            <i class="fas fa-store copy-eth-icon"></i>
        </a>
        <br />
        <p>Alternatively, click on a quote and then hit "buy merchandise".</p>

    </div>

    <button class="close-button">
        <i class="fas fa-window-close"></i>
    </button>
</div>

<div class="screen hide">

</div>

<script type="text/javascript" src="{{asset "js/support-buttons.js"}}"></script>