{{!< default}} {{> header}}
    <main>
        <figure style="max-width:100%;text-align:center;"
            class="notification-vault kg-card kg-embed-card kg-card-hascaption">
            <figcaption>
                If you have already purchased a subscription to the vault, please <a
                    href="https://publish.obsidian.md/sashinexists">click here</a>. If you haven't received
                an email with the password, then please <a href="mailto://myself@sashinexists.com">let me
                    know</a>.
            </figcaption>
        </figure>
        <article class="post-full">
            <header class="post-full-header">
                <h1 class="post-full-title"><a href={{url}}>A Vault of Knowledge</a></h1>
            </header>
            <section class="post-full-content">
                <p>All of the letters and articles are just the tip of the iceberg of my work.</p>
                <p>If you are interested in supporting my life’s work and gaining full access to my ever-expanding vault
                    of notes as I write them up, please consider becoming a paid subscriber.</p>
                {{> subscription-options}}
                <hr>
                <h3 id="accessing-my-second-brain">Accessing my second brain</h3>
                <p>It all started when reading the innocently titled <a href="https://takesmartnotes.com/">How to take
                        Smart Notes</a> by <a href="https://twitter.com/soenke_ahrens">Sonke Ahrens</a>. What began as a
                    better way to organise my notes proved to become a better way to organise my everything.</p>
                <p>My vault is an accessible hub of everything I know.</p>
                <p>It is a collection of pointed notes that are atomic, evergreen, linked and referenced.</p>
                <ul>
                    <li>Atomic: One idea per note</li>
                    <li>Evergreen: Written in clear, simple English for a general audience — it will aim to make
                        unfamiliar subject matter accessible</li>
                    <li>Linked: Notes are linked heavily between one other; it is easy to travel between relevant notes
                        and see connections between them</li>
                    <li>Referenced: It is easy to find any source material used in any note</li>
                    <li>
                        Up to date: Unlike most pieces of writing, these aren’t static but are perpetually open for
                        revision and improvement
                    </li>
                </ul>
                <p>It will be a little like a miniature Wikipedia — but much more relevant, engaging and clear.
                    A vast collection of mini pieces, each on an idea I find valuable.</p>
                <figure style="max-width:100%;text-align:center;" class="kg-card kg-embed-card kg-card-hascaption">
                    <a href="https://sashinexists.com/content/images/2021/10/Screenshot-from-2021-10-30-12-14-39-1.png">
                        <img style="max-width:90%;"
                            src="https://sashinexists.com/content/images/2021/10/Screenshot-from-2021-10-30-12-14-39-1.png"
                            alt="Screenshot of Obsidian" title="A screenshot of my vault" /></a>
                    <figcaption>A screenshot of the vault. On the left is a list of mini-pieces on many various
                        ideas.</figcaption>
                </figure>
                <p>These notes will be the basis — the building blocks, if you will — of all of my future work.</p>
                {{> subscription-options}}
                <hr>
                <h3 id="what-is-personal-knowledge-management-pkm-">What is Personal Knowledge Management? (PKM)</h3>
                <figure style="max-width:100%;text-align:center;" class="kg-card kg-embed-card kg-card-hascaption">
                    <figcaption>
                        <blockquote>
                            <p>A PKM is a way of organising the information and knowledge that one
                                continually gathers every day throughout one’s life</p>
                            <h5>Nick Ang, on <a
                                    href=”https://www.nickang.com/2020-07-05-personal-knowledge-management-system/”>PKM
                                    Systems</a></h5>
                        </blockquote>
                    </figcaption>
                </figure>

                <p>Writing notes was the original Personal Knowledge Management.</p>
                <p>We might be struck with a moment of insight or a valuable thought, but it won’t mean very much if we
                    don’t remember it.</p>
                <p>Note-taking liberates the mind from having to remember and keep track of the ideas worth holding. The
                    paper retains the information, freeing the mind to solve problems of interest.</p>
                <p>PKM systems are the natural evolution of the familiar process of taking notes.</p>
                <p>Papers could easily be misplaced, thrown out or otherwise lost with all the knowledge on them.</p>
                <p>Even when notes transition to being digital, they can easily be lost with a hardware failure.</p>
                <p>Even when backed up, they can become a chaotic mess of files that are intractable to navigate. What
                    use is recording everything you know if you can’t access relevant information when you need it?</p>
                <p>A sound PKM system aims to address these problems and facilitate a way of recording and organising
                    your thoughts so that they will:</p>
                <ol>
                    <li>Continue to benefit you indefinitely</li>
                    <li>Be easily accessible when you need them</li>
                </ol>
                <p>Rather than getting messier and harder to maintain, a well-designed PKM will appreciate in value over
                    time. </p>
                <p>In the natural state of affairs, our thoughts are transitory, ephemeral appearances that continuously
                    dissolve into the abyss of the forgotten past. </p>
                <p>However, if we play our cards right, these thoughts can continue to serve us our entire lives.</p>
                <hr>
                <h3 id="the-world-s-greatest-text-editor">The World’s Greatest Text Editor</h3>
                <p>I will be creating all these notes in my <em>currently</em> favourite app all time: <a
                        href="https://obsidian.md">Obsidian Markdown Editor</a></p>
                <figure style="max-width:100%;text-align:center;" class="kg-card kg-embed-card kg-card-hascaption">
                    <a href="https://sashinexists.com/content/images/2021/10/Screenshot-from-2021-10-30-12-27-35.png">
                        <img style="max-width:90%;"
                            src="https://sashinexists.com/content/images/2021/10/Screenshot-from-2021-10-30-12-27-35.png"
                            alt="Screenshot of Obsidian" title="This very note in Obsidian" /></a>
                    <figcaption>This very note in Obsidian Markdown.</figcaption>
                </figure>

                <p>What I love about Obsidian is how simple it is.</p>
                <blockquote>
                    <p>An Obsidian Vault is essentially a folder filled with text files.</p>
                </blockquote>
                <p>My vault is simply an organised collection of files stored on my local hard drive — backed up in
                    several ways — and published to the web.</p>
                <p>Obsidian encourages the practice of writing <em>linked notes</em>. </p>
                <p>Notes reference each other and therefore can build upon each other. </p>
                <p>Rather than having related ideas in a single document that you will have to search through later,
                    every idea can be written in its individual note. </p>
                <p>This is what it means to have <em>atomic notes</em>.</p>
                <p>These atomic notes are linked to one another, and over time as more notes are added, more links
                    between ideas are revealed.</p>
                <figure style="max-width:100%;text-align:center;" class="kg-card kg-embed-card kg-card-hascaption">
                    <a href="https://sashinexists.com/content/images/2021/10/Screenshot-from-2021-10-29-14-23-14.png">
                        <img style="max-width:90%;"
                            src="https://sashinexists.com/content/images/2021/10/Screenshot-from-2021-10-29-14-23-14.png"
                            alt="Screenshot of Obsidian" title="My vault in Obsidian’s graph view" /></a>
                    <figcaption>My vault of notes in Obsidian’s graph view</figcaption>
                </figure>

                <p>The above is a snapshot of what my vault currently looks like in Obsidian’s graph view. </p>
                <p>The circles are my notes, and the lines are the links between them. As my vault grows, not only do I
                    add more notes but also more links; for every new circle, there are potentially many new lines. Not
                    only does the collection grow bigger over time, but also more interconnected.</p>
                <p>Over weeks, months and years, a well-maintained obsidian vault is one that will continue to
                    appreciate in its value.</p>
                <hr>
                <h3 id="a-living-breathing-resource">A Living, Breathing Resource</h3>
                <p>A friend of mine pointed out something that’s changed in the world of software. A long time ago, when
                    the software was released, it was final.</p>
                <p>Once burned onto the disc, that was that.</p>
                <p>Today, long after a piece of software or a video game is released, it is possible to receive updates,
                    patches and even new content. It is as if you are buying a living, breathing resource rather than
                    static information.</p>
                <p>Books, articles and writing, in general, have a lot to do to catch up.</p>
                <p>When a book is published, like the software of days old, that’s it. The content never changes. If the
                    author decides they have changed their mind or that parts might need a revision; <em>then look
                        forward to buying the second edition</em>.</p>
                <p>In some cases, it is straight-up embarrassing. You open a will known book to find a preface, then a
                    “preface to the second edition”, and so forth.</p>
                <p>Imagine if written pieces did not have to be like this.</p>
                <p>What if they could be kept up-to-date when new information about their contents are discovered? And
                    what if it was possible to look back through each document’s history to see when every revision was
                    made?</p>
                <hr>
                <h3 id="value-that-grows-over-time">Value that grows over time</h3>
                <p>Imaging buying a non-fiction text — a resource like an encyclopedia — that grew in value as time went
                    on. Whenever you went a few days without looking at it, you would return to discover new pages
                    filled with fresh content. On top of this, existing pages were often updated and improved. </p>
                <p>You could even take part in this process. With this text, it is possible to correspond with the
                    creator directly and offer criticisms, suggestions and even requests — and later see your feedback
                    reflected in the text.</p>
                <p>Better yet, these improvements have no end in sight, <em>they would keep on coming for as long as you
                        owned it.</em></p>
                <p>When you pay for a subscription to my vault, you will either pay a stable recurring fee or make a
                    single larger payment for lifetime access. </p>
                <p>Yet, even though the price you pay is consistent, <em>the value of the offering increases over
                        time.</em></p>
                <p>I am offering access to my vault at what I call <em>Rising Tide Prices</em> — which is inspired by
                    the way that <a href="https://expandingawareness.org/author/michael/">Michael Ashcroft</a> charges
                    for his <a href="https://expandingawareness.org/courses/">course on the Alexander Technique</a>.</p>
                <p>Like me, Michael’s course is dynamic, changing over time as he adds content to it. As he does, he
                    increases the prices but <em>only for new subscribers</em>.</p>
                <p>When a person purchases a subscription to access the information in my vault, the amount they pay is
                    locked in — yet, the value of the vault will continually increase.</p>
                <p>Writing is my work, and my writing all sprouts from my notes. Thinking, reading, and writing is my
                    life’s work, and my notes will be central to that for years to come.</p>
                <p>Therefore the knowledge in this vault — and thus its value — will continually increase over the
                    years.</p>
                <p>And when I say value, I don’t just mean the content.</p>
                <p>Over the years, I will inevitably think about how information should be arranged, linked together and
                    presented.</p>
                <p>As I develop increasingly better theories of organising information, I will make the vault
                    increasingly more accessible and versatile as a resource. There will be more and more ways to access
                    quality content that is relevant, interesting and clear at a moment’s notice — and to see how it all
                    connects.</p>
                <p>What could be in store for the future?</p>
                <ul>
                    <li>A custom website designed by me where you can view all my notes</li>
                    <li>The ability to download PDFs or kindle versions of any note</li>
                    <li>Easily share or reference any note</li>
                    <li>A quick way to contact me about the contents of any note</li>
                    <li>Curated streams of notes relevant to specific topics (eg; a psychology stream, a meditation
                        stream or a <a href="https://sashinexists.com/letter/the-seed-of-certainty">Popperian philosophy
                            stream</a>)</li>
                </ul>
                <p>The sky is really the limit.</p>
                <hr>
                <h3 id="modernising-the-art-of-writing">Modernising the Art of Writing</h3>
                <p>A theme you might have noticed reading this piece and a principal aim of my vault and my overall
                    project as a writer is to modernise the craft.</p>
                <p>As software, games and other media have progressed steadily through the years, I feel that the
                    written medium has fallen behind.</p>
                <p>There are many options for writers to utilise modern technologies to improve the way they produce and
                    distribute their writing — but they are severely underutilised.</p>
                <p>The average writer is still using Microsoft Word or an equivalent for their work, and I believe it is
                    slowing them down and needlessly making their lives harder.</p>
                <p>I want to be setting the standard for what I believe should be the best practices for writing in
                    2021.</p>
                <p>The writers of tomorrow will be:</p>
                <ul>
                    <li>Recording and storing away all of their notes and ideas in a way that will remain useful and
                        accessible over time</li>
                    <li>Presenting their work in a way so that their readers can quickly pinpoint what is relevant to
                        them and continue to benefit from it over time</li>
                    <li>Typing in <a href="https://www.markdownguide.org/">Markdown</a> and using keyboard shortcuts,
                        not having to switch between keyboard and mouse every time you need to format your work allows
                        you to stay in flow and not lose track of your train of thought</li>
                    <li>Using <a href="https://git-scm.com/">Git</a> and <a href="github.com/">Github</a>: Even today, I
                        hear stories of people’s computers crashing, causing them to lose valuable work, or worse, of
                        their hard drives being corrupted, causing them to lose months’ worth of it. <ul>
                            <li>The frustration caused by all of this is entirely unnecessary; these problems have been
                                solved in software for a very long time.</li>
                            <li>It’s been a long time since this has had to be a problem; making sure that work is
                                backed up regularly and even easily and safely rewinding to any point of a project has
                                been trivial for a long time.</li>
                        </ul>
                    </li>
                    <li>Preferring plain text files over formats like word documents.<ul>
                            <li>Plain text files are simpler, faster and more versatile.</li>
                            <li>With Markdown, they can be published directly to pdf, kindle, web, email or a blog post
                                without formatting issues</li>
                        </ul>
                    </li>
                </ul>
                <p>As a writer who is experienced with software and is capable of programming, I am at the nexus of two
                    different worlds. It is a unique position where I can bring the best of each world to the table and
                    work towards improving them.</p>
                <p>My vault will ultimately be a showcase of what modern writing can be. </p>
                <p>Using everything I know to create a modern, cohesive and ever-growing reading experience.</p>
                <hr>
                <h3 id="supporting-my-work-">Supporting my work ♥</h3>
                <p>Finally, you will be supporting my work. You will be allowing me to devote my life to thinking about
                    problems I am interested in and writing about them. </p>
                <p>It is because of you that I can live to the fullest; it is because of you that I can write these very
                    words.</p>
                {{> subscription-options}}
            </section>
            </div>
        </article>
    </main>