blockquote.twitter-tweet > p,
blockquote.twitter-tweet > a,
blockquote.twitter-tweet {
  padding: 1.725rem 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-rendering: optimizeLegibility;
}

.twitter-card-icon {
    font-size: 3rem;
    text-align: right;
}